.home-container {
    text-align: center;
    margin-top: 50px;
  }
  
  h1 {
    font-size: 3em;
    color: #333;
  }
  
  .option-container {
    margin-top: 50px;
  }
  
  h2 {
    font-size: 2em;
    color: #333;
    margin-bottom: 20px;
  }
  
  p {
    font-size: 1.2em;
    color: #666;
    margin-bottom: 30px;
  }
  
  button {
    background-color: #333;
    color: #fff;
    border: none;
    padding: 10px 20px;
    font-size: 1.2em;
    border-radius: 5px;
    cursor: pointer;
  }
  
  button:hover {
    background-color: #555;
  }
  